*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.bg-container{
    min-width:100vw;
    min-height:100vh;
    background-image: url("https://www.hitbullseye.com/images/school.svg");
    background-position: center ;
    background-size: cover;
    display: flex;
}
.main-section{
    margin:auto;
    width:320px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: white;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo-section{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.logo{
    width:150px;
    height:60px;
}
.content{
    min-width:100%;  
    line-height:30px;
}
.guess-box{
    margin:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
.box{
    width:30px;
    height:30px;
    border:1px solid black;
    color: rgb(27,169,140,0.7);
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}
.info-section{
    padding:0.5rem;
}
.btn{
    margin:1rem 0;
    width:100%;
    height:40px;
    border-radius: 5px;
    border:none;
    background-color: rgb(27,169,140,0.8);
    color:white;
    cursor: pointer;
    font-size: medium;
}
.btn:hover{
    background-color: rgb(27,169,140);
}